<div class="header_section" id="header_section">
    {% comment %} Store Name / Store Logo {% endcomment %}
     <div class="store_logo">
          <p class="logo_text">
            Vogue Vault
          </p>
     </div>
   
   
    {% comment %} Navigational Menu  {% endcomment %}

     <div class="nav_menus">
         <ul class="nav_menu_items">
            <a href="">  <li class="nav_menu_item">Mega Sell</li> </a>
            <a href="">  <li class="nav_menu_item">Men</li>  </a>
            <a href="">  <li class="nav_menu_item">Women</li> </a>
            <a href="">  <li class="nav_menu_item">Kids</li> </a>
         </ul>
     </div>

    {% comment %} End of Navigational Menu  {% endcomment %}

    <div class="nav_icons">
         <ul class="nav_menu_icons">
            <a href=""><li class="nav_menu_icon">{% render 'user-icon' %}</li> </a>
            <a href=""><li class="nav_menu_icon">{% render 'cart-icon' %}</li> </a>
         </ul>
     </div>



    {% comment %} Cart Icon  {% endcomment %}
    {% comment %} Search Icon {% endcomment %}
    {% comment %} User Icon {% endcomment %}
    {% comment %} Wishlist Icon {% endcomment %}
</div>